.box{
    background-image: url("https://wallpaperaccess.com/full/4396576.jpg");
    border-image-repeat: no repeat;
    height: 900px;
    
}
h1{
    text-align: center;
    color: white;
font-style: italic;
}
h3{
    text-align: center;
}
